body {
    background-image: url(https://cdn-images-1.medium.com/max/2600/1*Xedq1HEeIMyIOgVRLL1ZDA.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

